<div class="container">
  {{> message}}

  {{!-- Sort --}}
  <div class="col-2 m-5 border border-2">
    <div id="sort-form">
      <form action="/expenses" method="GET">
        <select class="form-select fs-5" name="sort" id="sort" onchange="this.form.submit()">
          <option value="" {{#if (eq sort '' )}}selected{{/if}}>全部</option>
          {{#each categories}}
          <option value="{{this.id}}" {{#if (eq ../sort (toString this.id) )}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  <div class="m-2">
    <span class="fs-3">總金額 :</span>
    <span class="ms-2 fs-1">{{totalAmount}}</span>
  </div>

  {{!-- Expenses List --}}
  <div class="fs-5">

    <ul class="list-group">
      {{#each expenses}}

      <li class="list-group-item list-group-item-warning">
        <div class="row align-items-center">
          <div class="row col">
            <div class="col-4 ms-2">
              <i class="{{this.Category.icon}}"></i>
            </div>
            <div class="col-6">{{this.Category.name}}</div>
          </div>

          <div class="col">
            <div>{{this.name}}</div>
            <div>{{moment this.date format="YYYY/MM/DD"}}</div>
          </div>

          <div class="col">{{this.amount}}</div>

          {{!-- Edit Button --}}
          <div class="col-1">
            <a href="/expenses/{{this.id}}/edit">
              <i class="fa-solid fa-pen"></i>
            </a>
          </div>

          {{!-- Delete Button --}}
          <div class="col-1">
            <form action="/expenses/{{this.id}}?_method=DELETE" method="post">
              <button type="submit" class="bg-transparent border border-0">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>

        </div>
      </li>
      {{/each}}
    </ul>

    {{!-- Create Button --}}
    <a href="/expenses/new">
      <button type="button" class="btn btn-danger mt-3 fs-5">新增支出</button>
    </a>

  </div>

</div>

{{!-- Pagination --}}
<div class="d-flex justify-content-center mb-5">
  <ul class="pagination">

    {{!-- Previous Button --}}
    <form action="/expenses" method="GET" class="d-flex">
      <li class="page-item me-2">
        <button type="submit" class="btn btn-secondary {{#if (eq page 1)}}disabled{{/if}}">Previous
          <input type="hidden" name="page" value="{{prev}}">
        </button>
      </li>
    </form>

    {{!-- Pages --}}
    {{#each pages}}
    <form action="/expenses" method="GET" class="d-flex">
      <li class="page-item page-button me-2">
        <button type="submit" class="btn {{#if (eq this ../page)}}btn-info{{else}}btn-outline-info{{/if}}">{{this}}
          <input type="hidden" name="page" value="{{this}}">
        </button>
      </li>
    </form>
    {{/each}}

    {{!-- Next Button --}}
    <form action="/expenses" method="GET" class="d-flex">
      <li class="page-item">
        <button type="submit" class="btn btn-secondary {{#if (eq page totalPages)}}disabled{{/if}}">Next
          <input type="hidden" name="page" value="{{next}}">
        </button>
      </li>
    </form>

  </ul>
</div>